<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Navic, a Subsonic music streaming app for Android
  ~ Copyright (c) 2026 paige
  ~ SPDX-License-Identifier: GPL-3.0-only
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<!-- needed for obvious reasons, network state is for checking if offline -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_LOCAL_NETWORK" />

	<!-- needed for the equalizer feature, for some reason -->
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

	<!-- needed for widgets (glance automatically adds these but just putting this here to be explicit) -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

	<!-- needed for the playback service and widgets -->
	<uses-permission
		android:name="android.permission.FOREGROUND_SERVICE"
		tools:ignore="ForegroundServicesPolicy" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

	<!-- needed for notifications for downloads and syncing db -->
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

	<permission
		android:name="${applicationId}.permission.PLAYBACK_SERVICE"
		android:protectionLevel="signature" />
	<uses-permission android:name="${applicationId}.permission.PLAYBACK_SERVICE" />

	<queries>
		<intent>
			<action android:name="com.discord.socialsdk.rpc.IDiscordRpcService" />
		</intent>
		<package android:name="com.discord" />
	</queries>

	<application
		android:name=".Application"
		android:allowBackup="true"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:fullBackupContent="@xml/backup_rules"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:localeConfig="@xml/locales_config"
		android:networkSecurityConfig="@xml/network_security_config"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:largeHeap="true"
		android:theme="@style/Theme.Navic"
		android:usesCleartextTraffic="true"
		tools:targetApi="33">

		<activity
			android:name=".MainActivity"
			android:exported="true"
			android:theme="@style/Theme.Navic" />

		<!-- app icon activities -->
		<activity-alias
			android:name="${applicationId}.MainActivityDefault"
			android:enabled="true"
			android:exported="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:roundIcon="@mipmap/ic_launcher_round"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name="${applicationId}.MainActivityInverted"
			android:enabled="false"
			android:exported="true"
			android:icon="@mipmap/ic_launcher_inverted"
			android:label="@string/app_name"
			android:roundIcon="@mipmap/ic_launcher_inverted_round"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<!-- misc activities -->
		<activity
			android:name=".CrashActivity"
			android:exported="false"
			android:process=":crash"
			android:theme="@style/Theme.Navic" />

		<service
			android:name="paige.navic.exoplayer.ExoPlaybackService"
			android:enabled="true"
			android:exported="true"
			android:foregroundServiceType="mediaPlayback">
			<!--			android:permission="${applicationId}.permission.PLAYBACK_SERVICE">   : Blocks android auto from seeing the app at all? -->
			<intent-filter>

				<action android:name="androidx.media3.session.MediaSessionService" />
				<action android:name="android.media.browse.MediaBrowserService" />
			</intent-filter>
		</service>

		<!-- miniplayer receiver -->
		<receiver
			android:name=".widget.miniplayer.MiniPlayerReceiver"
			android:exported="false"
			android:label="Mini Player">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="${applicationId}.NOW_PLAYING_UPDATED" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/mini_player_widget" />
		</receiver>

		<!-- turn table receiver -->
		<receiver
			android:name=".widget.turntable.TurnTableReceiver"
			android:exported="false"
			android:label="Turn Table">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="${applicationId}.NOW_PLAYING_UPDATED" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/turn_table_widget" />
		</receiver>

		<!-- needed for widgets to control playback -->
		<receiver
			android:name="androidx.media3.session.MediaButtonReceiver"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MEDIA_BUTTON" />
			</intent-filter>
		</receiver>

		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="${applicationId}.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths" />
		</provider>

		<!-- Android Auto -->
		<meta-data
			android:name="com.google.android.gms.car.application"
			android:resource="@xml/automotive_app_desc" />
		<meta-data
			android:name="androidx.car.app.TintableAttributionIcon"
			android:resource="@drawable/ic_navic" />
	</application>
</manifest>
